.footer {
  width: 92%;
  margin: 0 auto 20px;
  padding: 18px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  color: #c9d4e5;
  font-size: 14px;
}

.socials {
  display: flex;
  gap: 18px;
  color: white;
  font-size: 20px;
}

.socials span {
  cursor: pointer;
}

.socials span:hover {
  color: #00d9ff;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
